Alyssa/MRNNexusTestingConsole/MRNNexusTestingConsole/Web References/MRNNexusServiceHost/MRNNexus_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MRNNexus_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.mrncontracting.com/web/MRNNexus_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.mrncontracting.com/web/MRNNexus_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.mrncontracting.com/web/MRNNexus_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MRNNexus_Model" />
      <xsd:import schemaLocation="http://services.mrncontracting.com/web/MRNNexus_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMRNNexus_Service_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_DoMoreWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoMoreWork" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_DoMoreWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoMoreWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_AddCalendarData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCalendarData" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_AddCalendarData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCalendarDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_UpdateCalendarData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCalendarData" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_UpdateCalendarData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCalendarDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_GetCalendarDataByEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarDataByEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_GetCalendarDataByEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarDataByEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_GetLeadByLeadID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadByLeadID" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_GetLeadByLeadID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadByLeadIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_GetCustomerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByID" />
  </wsdl:message>
  <wsdl:message name="IMRNNexus_Service_GetCustomerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMRNNexus_Service">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/DoWork" message="tns:IMRNNexus_Service_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/DoWorkResponse" message="tns:IMRNNexus_Service_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoMoreWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/DoMoreWork" message="tns:IMRNNexus_Service_DoMoreWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/DoMoreWorkResponse" message="tns:IMRNNexus_Service_DoMoreWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/AddEmployee" message="tns:IMRNNexus_Service_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/AddEmployeeResponse" message="tns:IMRNNexus_Service_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/RegisterUser" message="tns:IMRNNexus_Service_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/RegisterUserResponse" message="tns:IMRNNexus_Service_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/Login" message="tns:IMRNNexus_Service_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/LoginResponse" message="tns:IMRNNexus_Service_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCalendarData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/AddCalendarData" message="tns:IMRNNexus_Service_AddCalendarData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/AddCalendarDataResponse" message="tns:IMRNNexus_Service_AddCalendarData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCalendarData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/UpdateCalendarData" message="tns:IMRNNexus_Service_UpdateCalendarData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/UpdateCalendarDataResponse" message="tns:IMRNNexus_Service_UpdateCalendarData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarDataByEmployeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/GetCalendarDataByEmployeeID" message="tns:IMRNNexus_Service_GetCalendarDataByEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/GetCalendarDataByEmployeeIDResponse" message="tns:IMRNNexus_Service_GetCalendarDataByEmployeeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadByLeadID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/GetLeadByLeadID" message="tns:IMRNNexus_Service_GetLeadByLeadID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/GetLeadByLeadIDResponse" message="tns:IMRNNexus_Service_GetLeadByLeadID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/AddCustomer" message="tns:IMRNNexus_Service_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/AddCustomerResponse" message="tns:IMRNNexus_Service_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRNNexus_Service/GetCustomerByID" message="tns:IMRNNexus_Service_GetCustomerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRNNexus_Service/GetCustomerByIDResponse" message="tns:IMRNNexus_Service_GetCustomerByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MRNNexus_Service" />
</wsdl:definitions>