MRNNexusTestingConsole/MRNNexusTestingConsole/Web References/MRNNexusServiceHost/MRNNexus_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.mrncontracting.com/web/MRNNexus_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MRNNexus_Model" />
  <xs:import schemaLocation="http://services.mrncontracting.com/web/MRNNexus_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q1:DTO_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="DoWorkResult" nillable="true" type="q2:DTO_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoMoreWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoMoreWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q3:DTO_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="AddEmployeeResult" nillable="true" type="q4:DTO_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q5:DTO_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="RegisterUserResult" nillable="true" type="q6:DTO_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q7:DTO_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="LoginResult" nillable="true" type="q8:DTO_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCalendarData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q9:DTO_CalendarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCalendarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="AddCalendarDataResult" nillable="true" type="q10:DTO_CalendarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCalendarData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q11:DTO_CalendarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCalendarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="UpdateCalendarDataResult" nillable="true" type="q12:DTO_CalendarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarDataByEmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q13:DTO_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarDataByEmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="GetCalendarDataByEmployeeIDResult" nillable="true" type="q14:ArrayOfDTO_CalendarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadByLeadID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q15:DTO_Lead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadByLeadIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="GetLeadByLeadIDResult" nillable="true" type="q16:DTO_Lead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="token" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="AddCustomerResult" nillable="true" type="q18:DTO_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="token" nillable="true" type="q19:DTO_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MRNNexus_Model" minOccurs="0" name="GetCustomerByIDResult" nillable="true" type="q20:DTO_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>