MRNNexusTestingConsole/MRNNexusTestingConsole/Web References/MRNNexusServiceHost/MRNNexus_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MRNNexus_Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MRNNexus_Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTO_Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Employee" nillable="true" type="tns:DTO_Employee" />
  <xs:complexType name="DTO_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_User" nillable="true" type="tns:DTO_User" />
  <xs:complexType name="DTO_CalendarData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryID" type="xs:int" />
      <xs:element minOccurs="0" name="LeadID" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_CalendarData" nillable="true" type="tns:DTO_CalendarData" />
  <xs:complexType name="ArrayOfDTO_CalendarData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_CalendarData" nillable="true" type="tns:DTO_CalendarData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_CalendarData" nillable="true" type="tns:ArrayOfDTO_CalendarData" />
  <xs:complexType name="DTO_Lead">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditToID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="LeadDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeadID" type="xs:int" />
      <xs:element minOccurs="0" name="LeadTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Lead" nillable="true" type="tns:DTO_Lead" />
  <xs:complexType name="DTO_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailPromos" type="xs:boolean" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Customer" nillable="true" type="tns:DTO_Customer" />
</xs:schema>